{% extends "__base.html" %} {% load bootstrap4 %} {% block content %}
<section class="row">
    <article class="col-md-6 offset-3">
        <div class="card card-form">
            <div class="card-body">
                <h1>Sign Up</h1>

                <form method="post">
                    {% csrf_token %} {% include "_form_fields.html" %}{% buttons %}
                    <input class="btn btn-primary" type="submit" value="SignUp"> {% endbuttons %}

                </form>
                <p class="text-center"><a class="btn btn-link" href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </article>
</section>
{% endblock content%}