<div class="container">
    <div class="footer-upper">
        <nav class="row">

            <ul class=" navbar-nav col-md-6 offset-3">
                <h3>Stay Connected</h3>
                <li class="nav-link">
                    <a class="facebook" target="_blank" href="https://twitter.com/ravensannex"><i id="twitter" class="fab fa-twitter fa-2x"></i></a>
                    <a class="twitter" target="_blank" href="https://www.facebook.com/">
                        <i id="facebook" class="fab fa-facebook-square fa-2x"></i></a>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/"><i id="instagram" class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="linkedin"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="youtube"><i id="youtube" class="fab fa-youtube fa-2x"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <hr>
    <div class="footer-bottom text-center">
        <small>&copy; Copyright <script>const currentDate = new Date();
    document.write(currentDate.getFullYear());</script>, Stream Media. All Rights Reserved</small>
    </div>
</div>